/* Shared navbar styles */
nav {
  position: sticky;
  top: 0;
  z-index: 50;
}

/* Active link styles */
.router-link-active {
  background-color: rgb(239 246 255); /* bg-blue-50 */
  color: rgb(29 78 216); /* text-blue-700 */
}